### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
total_unique_players=purchase_data['SN'].nunique
#total_unique_players()
total_players_df = pd.DataFrame({"Total Players": [total_unique_players()]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
unique_items=purchase_data['Item ID'].nunique()
#unique_items
average_price=purchase_data['Price'].mean()
#average_price
total_purchases=purchase_data['SN'].count()
#total_purchases
total_revenue=purchase_data['Price'].sum()
#total_revenue
basic_calculations_df=pd.DataFrame({'Number of Unique Items': [unique_items], 'Average Price' : [average_price], 'Number of Purchases' : [total_purchases], 'Total Revenue' : [total_revenue]})

basic_calculations_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
gender_df=purchase_data.groupby('Gender')
gender_df

total_gender_count =gender_df.nunique()['SN']
total_gender_count

percentage_of_players = total_gender_count / total_unique_players() * 100
percentage_of_players

final_gender_df = pd.DataFrame({'Total Count': total_gender_count, 'Percentage of Players': percentage_of_players})

final_gender_df.index.name = None

final_gender_df.sort_values(['Total Count'], ascending = True)

final_gender_df['Percentage of Players']=(percentage_of_players).round(2).astype(str) + '%'
final_gender_df


##DID NOT USE THE CODE BELOW:

#gender_count = SN_and_gender_no_dups.count()
#gender_count

#only_males = SN_and_gender_no_dups.loc[SN_and_gender['Gender'] == 'Male', :]
#only_males

#only_females = SN_and_gender_no_dups.loc[SN_and_gender['Gender'] == 'Female', :].count()
#only_females

#only_non_disclosed = SN_and_gender_no_dups.loc[SN_and_gender['Gender'] == 'Other / Non-Disclosed', :].count()
#only_non_disclosed

                       Total Count Percentage of Players
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Create dataframe to complete gender analysis
gender_analysis = gender_df[['SN','Gender', 'Age','Purchase ID', 'Price']]
gender_analysis

#Create variables to hold values for purchase count avg price by gender, purchase value total by gender, and average total price per person
total_purchase_count=gender_df['Purchase ID'].count()
total_purchase_count

average_price=gender_df['Price'].mean()
average_price

purchase_value_total=gender_df['Price'].sum()
purchase_value_total

avg_price_by_person= purchase_value_total / total_gender_count
avg_price_by_person

gender_purchasing_analysis_df = pd.DataFrame({'Purchase Count': total_purchase_count, 'Average Purchase Price': average_price, 'Total Purchase Value': purchase_value_total,'Avg Total Purchase per Person': avg_price_by_person})
gender_purchasing_analysis_df 


#Style the dataframe and add the Gender index
gender_purchasing_analysis_df.index.name = "Gender"

format_gender_dict = {'Average Purchase Price': '${:,.2f}','Total Purchase Value':'${:,.2f}', 'Avg Total Purchase per Person':'${:,.2f}'}
gender_purchasing_analysis_df.style.format(format_gender_dict)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Create age DF to work with data
#age_df=purchase_data.groupby['Age']
#age_df

# Create bins in which to place values based upon ages of users
bins = [0, 9.99, 14.99, 19.99, 24.99,29.99, 34.99, 39.99 ,99.99]

# Create labels for these bins
group_labels = ['<10', '10 to 14', '15 to 19','20 to 24', '25 to 29', '30 to 34', '35 to 39', '40+']

#Sort data into correct bins
purchase_data['Age Group'] = pd.cut(purchase_data['Age'], bins, labels=group_labels)
purchase_data.head()

group_ages=purchase_data.groupby('Age Group')
group_ages

#Create variables to hold values for total count and percentage of players
players_by_ages_count=group_ages['SN'].nunique()
players_by_ages_count

player_percentages=players_by_ages_count/total_unique_players() * 100
player_percentages

#Create the new dataframe to show the age demographics analysis
age_demographics_df=pd.DataFrame({'Total Count': players_by_ages_count, 'Percentage of Players': player_percentages})
age_demographics_df

#Format the percentage column
age_demographics_df['Percentage of Players']=(player_percentages).round(2).astype(str) + '%'
age_demographics_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10 to 14            22                 3.82%
15 to 19           107                18.58%
20 to 24           258                44.79%
25 to 29            77                13.37%
30 to 34            52                 9.03%
35 to 39            31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame